@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

.container {
  background-color: #03071e;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-color: #3a86ff;
  min-height: 450px;
  max-width: 600px;
  padding: 20px;
  border: 5px solid white;
  border-radius: 10px;
}

.header h1 {
  color: #fff;
  text-align: center;
}

.credit {
  color: #fff;
  margin-top: 10px;
  text-align: center;
}

.credit a {
  color: #fff;
}

.credit a:hover {
  color: blue;
  font-size: 18px;
}

.form-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.task-input {
  border: none;
  outline: none;
  margin-right: 10px;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
}

.button-add {
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}

.container-list {
  overflow: hidden;
}

.list-item {
  display: flex;
  margin: 20px 0;
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px;
  justify-content: space-between;
  /* max-height: 30px; */
}

.button-complete,
.button-delete,
.button-edit {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 50%;
}

.button-complete {
  color: #ff6c6c;
  margin-right: 10px;
}

.button-edit {
  color: #e2d029;
  margin-right: 10px;
}

.button-delete {
  color: lightseagreen;
}

.complete {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #ff6c6c;
  opacity: 0.6;
}

.list {
  width: 220px;
  background-color: #3a86ff;
  border: none;
  color: #fff;
  font-size: 20px;
  padding-left: 10px;
  margin-right: 15px;
}

input:focus,
button:focus {
  outline: none;
}

@media (max-width: 425px) {
  .app-wrapper {
    max-width: 90vw;
  }
  .task-input {
    width: 100%;
    margin-bottom: 10px;
  }
  .button-add {
    width: 100%;
  }
  .list-item {
    display: block;
  }

  .button-complete,
  .button-delete,
  .button-edit {
    margin-top: 10px;
    margin-left: 10px;
  }
}
